.cover__description-text {
    width: 100%;
    max-width: 633px;

    text-align: center;

    font-size: 22px;
    font-weight: 400;
    line-height: 1.27;
    word-spacing: 17px;
    text-transform: uppercase;
}