.cover {
    width: 100%;
    max-width: 1440px;
    min-height: 757px;

    display: flex;
    position: relative;

    background-image: url("../../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    margin-top: 92px;
}

.cover::before {
     content: "";

     position: absolute;
     top: 0;
     right: 0;
     left: 0;
     bottom: 0;

     background-color: #000;
     opacity: 0.6;
 }